# Learning to use the common ML libraries

## Working with the Titanic data set

In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.display import display

# Using Pandas library to import a .csv data file and display part of the data
data = pd.read_csv("titanic_data.csv")

display(data.head())
# display(data[["PassengerId", "Survived", "Name"]].head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
# Converting the imported data into NumPy arrays

# X = np.array(data[["PassengerId", "Name"]])
X = np.array(data[["PassengerId", "Fare"]])
y = np.array(data["Survived"])

print(X[:5]);print(y[:5])

[[ 1.      7.25  ]
 [ 2.     71.2833]
 [ 3.      7.925 ]
 [ 4.     53.1   ]
 [ 5.      8.05  ]]
[0 1 1 1 0]

## Using sklearn

The following sections will contain me using the various inbuilt classifiers in the sklearn library, namely<br>
<b>-></b> Linear Regression<br>
<b>-></b> Decision Trees<br>
<b>-></b> Support Vector Machines

In [30]:
# Linear regression

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

classifier.fit(X,y)
# plt.scatter(X[:10], y[:10], color='red')
# plt.plot()
# plt.show()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
# Decision trees

from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

classifier.fit(X,y)
# plt.scatter(X[:10], y[:10], color='red')

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [32]:
# Support Vector Machines

from sklearn.svm import SVC
classifier = SVC()

classifier.fit(X,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)